.App {
  text-align: center;
}

#map {
  width: 100%;
  min-height: 100vh;
position: relative;
  display: none;

}

#items{
  width: 25%;
  height: 100%;
  background-color: deeppink;
  z-index: 1;
  position: absolute;

}
/* Optional: Makes the sample page fill the window. */




